<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pharmacy 4U | Online pharmacy for you</title>
        <%- include('../components/meta') -%>
    </head>
    <body>
        <div id="app">
            <%- include('../components/header') -%>
            <%- include('../components/intro', { routes: { blog: '/blog', store: '/store' } }) -%>
            <%- include('../components/footer') -%>
        </div>
        <%- include('../components/assets') -%>
    </body>
</html>
